In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('IAKR7EFL_1.csv')

In [3]:
weights = {
    'Gave child tinned, powdered or fresh milk ': 3,
    'Gave child baby formula': 2,
    'Gave child fortified baby food (cerelac, etc)': 4,
    'Gave child soup/clear broth': 2,
    'Gave child other liquid': 1,
    'Gave child CS foods': 1,
    'Gave child bread, noodles, other made from grain': 2,
    'Gave child potatoes, cassava, or other tubers': 2,
    'Gave child eggs': 4,
    'ave child pumpkin, carrots, squash': 3,
    'Gave child any dark green leafy vegetables': 4,
    'Gave child mangoes, papayas, other vitamin A fruits': 3,
    'Gave child any other fruits': 3,
    'Gave child liver, heart, other organs': 3,
    'Gave child fish or shellfish': 5,
    'Gave child food made from beans, peas, lentils': 4,
    'Gave child cheese, yogurt, other milk products': 4,
    'Gave child other solid-semisolid food': 2,
    'Gave child CS foods.1': 1,
    'Gave child yogurt': 3,
    'First 3 days, given milk (other than breast milk)': 2,
    'First 3 days, given plain water': 1,
    'First 3 days, given sugar/glucose water': 1,
    'First 3 days, given gripe water': 1,
    'First 3 days, given sugar/salt solution': 1,
    'First 3 days, given fruit juice': 1,
    'First 3 days, given infant formula': 2,
    'First 3 days, given tea/infusions': 1,
    'First 3 days, given honey': 1,
    'First 3 days, given country specific': 1,
    'Gave child plain water':1,
    'Gave child juice':1,
    
}

In [4]:
df['Dietary Index'] = 0

In [5]:
for column, weight in weights.items():
    df['Dietary Index'] += df[column] * weight

In [6]:
# Normalized the dietary index to a common scale
df['Dietary Index'] = (df['Dietary Index'] / df['Dietary Index'].max()) * 100

In [7]:
columns_to_drop = list(weights.keys())
df.drop(columns=columns_to_drop, inplace=True)

In [8]:
drop_columns=['Mother\'s Height/Age percent ref. median','Sex of household head','Marriage to first birth interval','Number of living children',
       'Mother\'s Weight/Height percent ref. median(DHS)','Weight at birth/recall','Number of children 5 and under in household',                          
       'Mother\'s Weight/Height percent ref. median(Fog)','Childs\'s Result of measurement - height/weight','Mother\'s Rohrers index',
       'Childs\'s Height/Age standard deviation (new WHO)','Childs\'s Height/Age percent of ref. median','When child put to breast',
       'Childs\'s Weight/Age percentile','Childs\'s Height/Age percentile','Mother\'s age in years','Father\'s age', 
       'Childs\'s Weight/Age standard deviation (new WHO)','Father\'s education level','Entries in immunization roster','Entries in child health roster','Entries in height/weight roster',
       'Childs\'s Weight/Height standard deviation (new WHO)','Times gave child powdered/tinned/fresh milk',
       'Mother Times gave child powdered/tinned/fresh milk','Childs\'s Weight/Age percent of ref. median','Mother\'s Height/Age standard deviation',           
                              
       'Mother\'s Weight/Height percent ref. median (WHO)','Mother\'s Height/Age percentile',
       'Mother\'s Height/Age percent ref. median', 'Wealth index combined', 'Childs\'s Weight/Height percent of ref. median',
       'Wealth index for urban/rural','Mother\'s Weight/Height standard deviation (DHS)','Mother\'s Result of measurement - height/weight','Childs\'s Weight/Height percentile']

df.drop(columns=drop_columns,inplace=True)

In [9]:
df

,Type of place of residence,Source of drinking water,Number of household members,Toilet facilities shared with other households,Wealth index factor score combined,Wealth index factor score for urban/rural,Currently breastfeeding,Mother's weight in kilograms,Mother's height in centimeters,Mother's BMI,...,Birth weight in kilograms,Given child anything other than breast milk,Childs's age in months,Childs's weight in kilograms,Childs's height in centimeters,Child's Height/Age standard deviation,Childs's Weight/Age standard deviation,Childs's Weight/Height standard deviation,Childs's BMI standard deviation (new WHO),Dietary Index
0,2,14,6,0.000000,484230,833130,0,760.0,1614.0,2919.0,...,3000,0.000000,51.000000,131.000000,1283.000000,9998.000000,9998.000000,9998.000000,9998.000000,2.277475
1,2,12,6,0.000000,-881310,-667160,1,438.0,1406.0,2213.0,...,2400,0.000000,12.000000,111.000000,900.000000,509.000000,122.000000,-161.000000,-206.000000,3.445295
2,2,12,3,1.000000,-1315280,-1143950,1,753.0,1573.0,3041.0,...,9996,0.000000,25.000000,145.000000,1027.000000,497.000000,149.000000,-116.000000,-162.000000,2.277475
3,2,12,5,0.000000,-73821,220010,1,655.0,1597.0,2566.0,...,3000,0.000000,13.000000,78.000000,893.000000,9998.000000,9998.000000,9998.000000,9998.000000,3.014633
4,2,12,4,0.000000,-142061,145040,1,605.0,1073.0,5255.0,...,2200,0.000000,39.000000,127.000000,1097.000000,9998.000000,9998.000000,9998.000000,-480.000000,2.277475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31266,2,21,6,0.414227,-977970,-773360,1,370.0,1491.0,1662.0,...,2000,0.000000,14.000000,58.000000,676.000000,-317.000000,-388.000000,-252.000000,-286.000000,1.722647
31267,2,21,6,0.414227,-977970,-773360,1,370.0,1491.0,1662.0,...,2500,0.206997,27.000000,99.000000,791.000000,-280.000000,-245.000000,-89.000000,-4.000000,1.809098
31268,2,14,4,0.414227,-1165850,-979780,1,398.0,1350.0,2181.0,...,9998,0.000000,0.000000,34.000000,494.000000,-149.000000,-92.000000,27.000000,-19.000000,0.000000
31269,2,14,4,0.414227,-1165850,-979780,1,398.0,1350.0,2181.0,...,9998,0.206997,45.000000,104.000000,867.000000,-334.000000,-315.000000,-170.000000,-119.000000,0.086451
31270,2,21,13,0.414227,-889330,-675970,1,543.0,1591.0,2143.0,...,2000,0.000000,29.742578,485.888795,1202.954349,522.382697,506.386422,549.348239,332.330484,1.722647

In [10]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(df.isnull().sum())

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Type of place of residence                        0
Source of drinking water                          0
Number of household members                       0
Toilet facilities shared with other households    0
Wealth index factor score combined                0
Wealth index factor score for urban/rural         0
Currently breastfeeding                           0
Mother's weight in kilograms                      0
Mother's height in centimeters                    0
Mother's BMI                                      0
Mother's Under age 18 at time of birth            0
Mother Smokes pipe full of tobacco                0
Mother Chews tobacco                              0
Mother Snuffs by nose                             0
v463f                                             0
Frequency of mother smokes cigarettes             0
Father's occupation                               0
Father's educational attainment                   0
Sex of child                                      0
Size of child at birth                            0
Birth weight in kilograms                         0
Given child anything other than breast milk       0
Childs's age in months                            0
Childs's weight in kilograms                      0
Childs's height in centimeters                    0
Child's Height/Age standard deviation             0
Childs's Weight/Age standard deviation            0
Childs's Weight/Height standard deviation         0
Childs's BMI standard deviation (new WHO)         0
Dietary Index                                     0
dtype: int64

In [11]:
## GIVEN CHILD ANYTHING OTHER THEN BREAST MILK

In [12]:
df['Given child anything other than breast milk'].unique()

array([0.        , 0.20699696, 1.        ])

In [13]:
tolerance = 1e-7 
df['Given child anything other than breast milk'] = df['Given child anything other than breast milk'].apply(lambda x: 0 if abs(x - 0.20699696) < tolerance else x)

In [14]:
df['Given child anything other than breast milk'] = df['Given child anything other than breast milk'].replace({0:'No',1:'Yes'})

In [15]:
df['Given child anything other than breast milk'].unique()

array(['No', 'Yes'], dtype=object)

In [16]:
## TOILET FACILITIES SHARED WITH OTHER HOUSEHOLDS

In [17]:
df['Toilet facilities shared with other households'].unique()

array([0.        , 1.        , 7.        , 0.41422723])

In [18]:
tolerance = 1e-7 
df['Toilet facilities shared with other households'] = df['Toilet facilities shared with other households'].apply(lambda x: 0 if abs(x - 0.41422723) < tolerance else x)

In [19]:
df['Toilet facilities shared with other households'] = df['Toilet facilities shared with other households'].replace({0:'No',1:'Yes',7:'Not Dejure'})

In [20]:
df['Toilet facilities shared with other households'].value_counts()

Toilet facilities shared with other households
No            26372
Yes            3692
Not Dejure     1207
Name: count, dtype: int64

In [21]:

index = df[(df['Birth weight in kilograms'] == 9998 ) | (df['Birth weight in kilograms'] == 9999 )].index
df.drop(index,inplace=True)

In [22]:
df['Birth weight in kilograms'].unique()

array([3000, 2400, 9996, 2200, 2500, 3500, 2600, 2000, 1890, 3800, 2900,
       2700, 3100, 2100, 3300, 2300, 3200, 4000, 3600, 2780, 2800, 3400,
       1000, 2750, 6000, 1700, 3250, 3050, 1900, 3030, 3900, 5000, 3150,
       4100, 3750, 3700, 1300, 2720, 4300, 1500, 1200, 5300, 4800, 4140,
       2480, 4250, 3450, 2450, 5700, 4200, 4500, 2250, 3160,  500, 2360,
       2740, 1280, 2050, 2920, 1400, 1760, 1670, 2850, 1600, 1250, 2770,
       2730, 4600, 5500, 2590, 3010, 1750, 1800, 2350,  800, 8000, 2990,
       2710, 1990, 5400, 2150, 2680, 2950, 4700, 2790, 2960, 3070, 2760,
       1770, 1780, 2430, 2890, 1290, 1980, 3220, 3002, 2940, 3790, 2550,
       9000, 6500, 3019, 3240, 2830, 3225, 2870,  700, 4400, 2575, 2490,
       3560, 2155, 2060, 2230, 2650, 2460, 2410, 2690, 2380,  600, 2075,
       3190, 2630, 3675, 3980, 3080, 3540, 3125, 3640, 3110, 2645, 2745,
       3165, 2515, 2530, 3470, 3480, 3185, 1155,  880, 5005, 3514, 3120,
       2810, 2975, 2685, 3415, 3140, 2415, 2910, 2390, 2793, 3835, 3970,
       3515, 2855, 2985, 3130, 2355, 2560, 3040, 3230, 3350, 2635, 3390,
       2970, 2070, 3325, 1920, 1910, 3245, 3320, 3785, 3215, 2955, 3620,
       2980, 3280, 2905, 3370, 3001, 2775, 2613, 2180, 2330, 2725, 2270,
       2845, 2006, 3650, 2835, 3850, 2875, 3365, 1450, 3380, 1710, 2585,
       3535, 2115, 2965, 2205, 2885, 3105, 2930, 3015, 3410, 3020, 3825,
       2275, 2005, 2170, 2517, 2620, 3890, 3665, 4370, 3420, 3360, 2945,
       2120, 4750, 2007, 2840, 2665, 3003, 2090, 2072, 2510, 1050, 1100,
       2340, 2225, 2860, 2240, 3555, 1150, 2580, 2280, 2440, 2014, 2540,
       2001, 1210, 3270, 7000, 3510, 2520, 2470, 2210, 1245,  900, 3135,
       2670, 1850, 2089, 2004, 2445, 2012, 3005, 2420, 1010, 2963, 2009,
       2916, 2804, 3025, 3570, 2025, 3745, 4900, 3475, 3004, 2068, 4015,
       2020, 1650, 3065, 3720, 2880, 2110, 3880, 1180, 3575, 2096, 2324,
       2519, 6200, 2831, 2375, 5200, 2246, 1075, 4450, 1140, 9980, 2640,
       3730, 5100, 1680, 3159, 2895, 2087, 3590, 1570, 2820, 4170,  750,
       2660, 1490, 4225, 3680, 7750, 3176, 2535, 2943, 2010, 2525, 3905,
       3170, 2049, 3378, 2755, 3740, 1658, 2815, 2865, 3845, 3445, 2468,
       3006, 3011, 2839, 3035, 2093, 2310, 3223, 2475, 2765, 2153, 3710,
       2008, 2812, 3285, 1350, 3440, 2925, 1175, 9500, 2505, 1885, 2742,
       4020, 2290, 2448, 1950, 2080, 2549, 2578, 3556, 2083, 1790, 3260,
       2165, 2769, 3075, 2094, 3241, 2320, 4050, 2345, 3455, 2365, 1725,
       2570, 2220, 3425, 3530, 2914, 5250, 2319, 1099, 2694, 2712, 2772,
       3154, 1606, 3275, 2522, 2208, 3550, 3725, 3310, 1590, 3155, 3287,
       3670, 5600, 2260, 1575, 3180, 2785, 2125, 2185, 2414, 2545, 2055,
       3107])

In [23]:
df['Birth weight in kilograms'] = df['Birth weight in kilograms']/1000

In [24]:
df['Birth weight in kilograms'].unique()

array([3.   , 2.4  , 9.996, 2.2  , 2.5  , 3.5  , 2.6  , 2.   , 1.89 ,
       3.8  , 2.9  , 2.7  , 3.1  , 2.1  , 3.3  , 2.3  , 3.2  , 4.   ,
       3.6  , 2.78 , 2.8  , 3.4  , 1.   , 2.75 , 6.   , 1.7  , 3.25 ,
       3.05 , 1.9  , 3.03 , 3.9  , 5.   , 3.15 , 4.1  , 3.75 , 3.7  ,
       1.3  , 2.72 , 4.3  , 1.5  , 1.2  , 5.3  , 4.8  , 4.14 , 2.48 ,
       4.25 , 3.45 , 2.45 , 5.7  , 4.2  , 4.5  , 2.25 , 3.16 , 0.5  ,
       2.36 , 2.74 , 1.28 , 2.05 , 2.92 , 1.4  , 1.76 , 1.67 , 2.85 ,
       1.6  , 1.25 , 2.77 , 2.73 , 4.6  , 5.5  , 2.59 , 3.01 , 1.75 ,
       1.8  , 2.35 , 0.8  , 8.   , 2.99 , 2.71 , 1.99 , 5.4  , 2.15 ,
       2.68 , 2.95 , 4.7  , 2.79 , 2.96 , 3.07 , 2.76 , 1.77 , 1.78 ,
       2.43 , 2.89 , 1.29 , 1.98 , 3.22 , 3.002, 2.94 , 3.79 , 2.55 ,
       9.   , 6.5  , 3.019, 3.24 , 2.83 , 3.225, 2.87 , 0.7  , 4.4  ,
       2.575, 2.49 , 3.56 , 2.155, 2.06 , 2.23 , 2.65 , 2.46 , 2.41 ,
       2.69 , 2.38 , 0.6  , 2.075, 3.19 , 2.63 , 3.675, 3.98 , 3.08 ,
       3.54 , 3.125, 3.64 , 3.11 , 2.645, 2.745, 3.165, 2.515, 2.53 ,
       3.47 , 3.48 , 3.185, 1.155, 0.88 , 5.005, 3.514, 3.12 , 2.81 ,
       2.975, 2.685, 3.415, 3.14 , 2.415, 2.91 , 2.39 , 2.793, 3.835,
       3.97 , 3.515, 2.855, 2.985, 3.13 , 2.355, 2.56 , 3.04 , 3.23 ,
       3.35 , 2.635, 3.39 , 2.97 , 2.07 , 3.325, 1.92 , 1.91 , 3.245,
       3.32 , 3.785, 3.215, 2.955, 3.62 , 2.98 , 3.28 , 2.905, 3.37 ,
       3.001, 2.775, 2.613, 2.18 , 2.33 , 2.725, 2.27 , 2.845, 2.006,
       3.65 , 2.835, 3.85 , 2.875, 3.365, 1.45 , 3.38 , 1.71 , 2.585,
       3.535, 2.115, 2.965, 2.205, 2.885, 3.105, 2.93 , 3.015, 3.41 ,
       3.02 , 3.825, 2.275, 2.005, 2.17 , 2.517, 2.62 , 3.89 , 3.665,
       4.37 , 3.42 , 3.36 , 2.945, 2.12 , 4.75 , 2.007, 2.84 , 2.665,
       3.003, 2.09 , 2.072, 2.51 , 1.05 , 1.1  , 2.34 , 2.225, 2.86 ,
       2.24 , 3.555, 1.15 , 2.58 , 2.28 , 2.44 , 2.014, 2.54 , 2.001,
       1.21 , 3.27 , 7.   , 3.51 , 2.52 , 2.47 , 2.21 , 1.245, 0.9  ,
       3.135, 2.67 , 1.85 , 2.089, 2.004, 2.445, 2.012, 3.005, 2.42 ,
       1.01 , 2.963, 2.009, 2.916, 2.804, 3.025, 3.57 , 2.025, 3.745,
       4.9  , 3.475, 3.004, 2.068, 4.015, 2.02 , 1.65 , 3.065, 3.72 ,
       2.88 , 2.11 , 3.88 , 1.18 , 3.575, 2.096, 2.324, 2.519, 6.2  ,
       2.831, 2.375, 5.2  , 2.246, 1.075, 4.45 , 1.14 , 9.98 , 2.64 ,
       3.73 , 5.1  , 1.68 , 3.159, 2.895, 2.087, 3.59 , 1.57 , 2.82 ,
       4.17 , 0.75 , 2.66 , 1.49 , 4.225, 3.68 , 7.75 , 3.176, 2.535,
       2.943, 2.01 , 2.525, 3.905, 3.17 , 2.049, 3.378, 2.755, 3.74 ,
       1.658, 2.815, 2.865, 3.845, 3.445, 2.468, 3.006, 3.011, 2.839,
       3.035, 2.093, 2.31 , 3.223, 2.475, 2.765, 2.153, 3.71 , 2.008,
       2.812, 3.285, 1.35 , 3.44 , 2.925, 1.175, 9.5  , 2.505, 1.885,
       2.742, 4.02 , 2.29 , 2.448, 1.95 , 2.08 , 2.549, 2.578, 3.556,
       2.083, 1.79 , 3.26 , 2.165, 2.769, 3.075, 2.094, 3.241, 2.32 ,
       4.05 , 2.345, 3.455, 2.365, 1.725, 2.57 , 2.22 , 3.425, 3.53 ,
       2.914, 5.25 , 2.319, 1.099, 2.694, 2.712, 2.772, 3.154, 1.606,
       3.275, 2.522, 2.208, 3.55 , 3.725, 3.31 , 1.59 , 3.155, 3.287,
       3.67 , 5.6  , 2.26 , 1.575, 3.18 , 2.785, 2.125, 2.185, 2.414,
       2.545, 2.055, 3.107])

In [25]:
df['Frequency of mother smokes cigarettes'].unique()

array([0, 1, 2])

In [26]:
df['Frequency of mother smokes cigarettes'] = df['Frequency of mother smokes cigarettes'].replace({0:'Does not smoke',1:'Everyday',2:'Someday'})

In [27]:
df['Frequency of mother smokes cigarettes'].unique()

array(['Does not smoke', 'Everyday', 'Someday'], dtype=object)

In [28]:
## CHILDS HEIGHT IN CENTIMETERS

In [29]:
df['Childs\'s height in centimeters'].unique()

array([1283.        ,  900.        , 1027.        ,  893.        ,
       1097.        , 1094.        ,  804.        ,  766.        ,
       1202.95434879,  889.        ,  756.        ,  739.        ,
        967.        ,  846.        ,  902.        ,  988.        ,
        987.        ,  744.        ,  874.        ,  819.        ,
        861.        , 1014.        ,  694.        , 1012.        ,
        892.        ,  942.        ,  712.        ,  928.        ,
        674.        ,  991.        ,  808.        ,  822.        ,
        922.        ,  682.        ,  684.        , 1103.        ,
        593.        ,  883.        ,  782.        ,  741.        ,
        491.        ,  968.        ,  691.        ,  994.        ,
        803.        , 1015.        ,  612.        ,  814.        ,
        812.        ,  995.        ,  899.        , 1016.        ,
       1002.        ,  887.        ,  471.        ,  960.        ,
        734.        ,  806.        ,  801.        ,  915.        ,
        896.        ,  905.        ,  864.        , 1053.        ,
        615.        ,  914.        ,  986.        ,  912.        ,
        934.        , 1059.        ,  693.        , 1031.        ,
       1102.        ,  652.        , 1034.        ,  543.        ,
        962.        ,  413.        , 1011.        , 9995.        ,
        764.        ,  703.        ,  976.        , 1001.        ,
       1164.        ,  901.        ,  461.        ,  788.        ,
        944.        ,  625.        ,  842.        ,  848.        ,
        799.        ,  917.        ,  535.        ,  818.        ,
        941.        ,  721.        ,  621.        ,  601.        ,
       1035.        ,  975.        ,  865.        ,  996.        ,
        916.        ,  571.        ,  867.        ,  742.        ,
       1083.        ,  663.        ,  500.        ,  983.        ,
        974.        , 1024.        ,  688.        ,  844.        ,
       1099.        ,  479.        ,  897.        ,  913.        ,
       1087.        , 1203.        ,  757.        ,  972.        ,
        724.        ,  859.        ,  925.        , 1086.        ,
        478.        , 1136.        , 1176.        ,  894.        ,
        884.        ,  823.        ,  973.        ,  752.        ,
       1073.        ,  907.        , 1139.        ,  604.        ,
       1013.        ,  829.        ,  903.        ,  662.        ,
        888.        ,  992.        ,  792.        ,  592.        ,
        753.        ,  705.        , 1072.        ,  820.        ,
        880.        ,  956.        , 1021.        ,  749.        ,
       1032.        ,  637.        ,  826.        ,  977.        ,
        659.        , 1152.        , 1142.        ,  441.        ,
        762.        ,  875.        , 1007.        ,  998.        ,
        835.        , 1022.        ,  862.        ,  985.        ,
        984.        , 1113.        ,  553.        , 1196.        ,
       1124.        ,  731.        ,  735.        ,  582.        ,
        924.        ,  574.        ,  827.        ,  978.        ,
        653.        ,  746.        ,  747.        , 1026.        ,
        932.        ,  947.        , 1092.        ,  957.        ,
       1110.        , 1182.        ,  725.        ,  692.        ,
       1037.        , 1100.        ,  563.        ,  964.        ,
        643.        ,  946.        ,  784.        ,  613.        ,
        589.        , 1046.        ,  673.        , 1023.        ,
        785.        ,  809.        , 1098.        , 1061.        ,
       1040.        ,  681.        , 1063.        ,  805.        ,
        486.        , 1114.        ,  527.        ,  707.        ,
        989.        ,  657.        ,  364.        ,  641.        ,
       1163.        ,  614.        , 1104.        ,  623.        ,
        837.        ,  655.        ,  545.        ,  882.        ,
        645.        ,  951.        ,  780.        ,  680.        ,
       1078.        , 1009.        , 1047.        ,  869.        ,
        895.        ,  640.        ,  709.        ,  733.        ,
        796.        , 1076.        ,  816.        ,  855.        ,
        696.        , 1226.        , 1106.        ,  636.        ,
        656.        , 1074.        , 1017.        , 1049.        ,
       1067.        , 1020.        ,  841.        ,  950.        ,
        706.        , 1069.        ,  997.        ,  650.        ,
       1005.        ,  999.        , 1042.        ,  870.        ,
        965.        , 1039.        ,  794.        ,  502.        ,
       1025.        ,  834.        , 1126.        ,  722.        ,
        763.        , 1265.        , 1062.        , 1096.        ,
       1082.        , 1060.        ,  850.        ,  815.        ,
        940.        ,  890.        ,  750.        ,  719.        ,
        839.        ,  525.        ,  772.        ,  961.        ,
        361.        ,  346.        ,  980.        ,  971.        ,
        982.        ,  832.        ,  783.        ,  979.        ,
        494.        ,  906.        ,  921.        ,  412.        ,
        876.        ,  863.        ,  727.        ,  789.        ,
        952.        ,  523.        , 1052.        , 1123.        ,
       1028.        ,  981.        , 9994.        ,  911.        ,
       1213.        ,  567.        ,  926.        ,  936.        ,
        743.        ,  701.        ,  904.        ,  943.        ,
        723.        ,  969.        ,  939.        ,  732.        ,
        824.        , 1019.        ,  586.        ,  499.        ,
        503.        ,  699.        , 1084.        ,  993.        ,
       1033.        , 1048.        ,  632.        ,  630.        ,
        849.        , 1056.        ,  504.        ,  555.        ,
       1029.        ,  774.        ,  919.        ,  472.        ,
        482.        ,  689.        ,  598.        ,  564.        ,
        587.        , 1093.        ,  561.        ,  945.        ,
        624.        ,  810.        ,  423.        ,  791.        ,
        853.        ,  677.        ,  456.        ,  786.        ,
        776.        , 1006.        ,  923.        ,  953.        ,
        871.        ,  697.        ,  584.        ,  736.        ,
        716.        ,  825.        ,  562.        , 1057.        ,
       1146.        , 1154.        ,  831.        ,  872.        ,
        493.        ,  795.        ,  634.        ,  585.        ,
        683.        ,  931.        ,  886.        ,  512.        ,
        526.        , 1004.        ,  866.        ,  646.        ,
        881.        , 1055.        , 1045.        ,  730.        ,
        857.        ,  868.        , 1088.        ,  854.        ,
       1038.        , 1077.        ,  798.        ,  963.        ,
        885.        ,  851.        , 1036.        , 1051.        ,
       1122.        ,  462.        , 1129.        ,  852.        ,
        484.        ,  845.        ,  505.        ,  813.        ,
       1054.        ,  576.        ,  611.        ,  540.        ,
        955.        , 1095.        , 1041.        , 1064.        ,
        930.        ,  840.        ,  970.        ,  404.        ,
       1050.        , 1091.        ,  606.        ,  572.        ,
        670.        ,  704.        ,  710.        ,  860.        ,
        761.        ,  651.        ,  685.        ,  802.        ,
        581.        ,  647.        ,  843.        ,  602.        ,
        610.        ,  521.        ,  910.        , 1071.        ,
        450.        ,  836.        ,  580.        ,  600.        ,
       1003.        ,  770.        ,  631.        ,  475.        ,
       1058.        ,  830.        ,  754.        , 1135.        ,
        949.        , 1030.        ,  550.        ,  541.        ,
        596.        ,  546.        ,  687.        ,  847.        ,
        476.        ,  937.        ,  492.        ,  759.        ,
        748.        ,  726.        ,  793.        , 1075.        ,
        654.        ,  781.        ,  858.        ,  597.        ,
        954.        , 1043.        ,  758.        ,  607.        ,
        603.        ,  751.        ,  700.        , 1010.        ,
       1184.        ,  898.        ,  633.        ,  755.        ,
        642.        ,  664.        ,  384.        ,  591.        ,
        821.        ,  513.        ,  873.        ,  773.        ,
        800.        ,  583.        ,  570.        ,  714.        ,
       1108.        , 1208.        ,  879.        , 1085.        ,
       1150.        ,  510.        ,  702.        ,  672.        ,
        511.        ,  929.        ,  686.        ,  966.        ,
        667.        ,  745.        ,  833.        , 1112.        ,
        891.        , 1194.        ,  698.        , 1192.        ,
        524.        ,  765.        , 1143.        ,  568.        ,
        720.        ,  927.        , 1000.        ,  768.        ,
       1127.        , 1183.        , 1162.        , 1193.        ,
        811.        , 1153.        , 1128.        ,  372.        ,
        573.        ,  671.        ,  483.        ,  678.        ,
        679.        ,  877.        ,  660.        ,  920.        ,
       1223.        , 1180.        ,  958.        ,  713.        ,
        775.        , 1068.        ,  711.        ,  649.        ,
        797.        ,  690.        ,  938.        ,  403.        ,
        554.        ,  909.        , 1109.        , 1325.        ,
        935.        ,  454.        ,  878.        ,  608.        ,
        566.        ,  544.        ,  451.        ,  552.        ,
       1105.        , 1065.        ,  542.        ,  371.        ,
        457.        ,  728.        ,  661.        ,  501.        ,
        422.        ,  918.        , 1081.        ,  771.        ,
        807.        ,  676.        ,  622.        ,  635.        ,
       1070.        ,  532.        ,  856.        ,  599.        ,
        560.        , 1199.        ,  460.        ,  790.        ,
        769.        ,  740.        ,  414.        ,  990.        ,
        617.        ,  675.        , 1089.        , 1179.        ,
       1247.        ,  386.        ,  620.        ,  514.        ,
       1234.        , 1197.        ,  787.        ,  644.        ,
       1189.        , 1200.        , 1141.        , 1186.        ,
        516.        , 1120.        , 1250.        , 1133.        ,
       1132.        ,  425.        ,  419.        , 1125.        ,
        627.        ,  760.        ,  695.        ,  391.        ,
        455.        ,  605.        , 1079.        , 1147.        ,
        778.        ,  531.        ,  658.        ,  498.        ,
       1140.        ,  948.        ,  439.        ,  668.        ,
        522.        ,  466.        ,  468.        ,  538.        ,
       1115.        ,  496.        ,  529.        ,  537.        ,
        463.        ,  715.        , 1018.        , 1044.        ,
        594.        , 9996.        ,  490.        , 1202.        ,
        817.        ,  908.        ,  363.        ,  520.        ,
        508.        ,  434.        ,  488.        ,  933.        ,
        467.        ,  481.        ,  767.        ,  487.        ,
       1281.        ,  495.        ,  225.        ,  638.        ,
        718.        ,  618.        ,  579.        ,  530.        ,
        362.        ,  396.        ,  438.        ,  556.        ,
        402.        ,  401.        ,  557.        , 1210.        ,
        464.        ,  406.        ,  506.        , 1117.        ,
        407.        ,  473.        ,  370.        ,  551.        ,
        374.        ,  626.        ,  779.        ,  365.        ,
        474.        ,  426.        , 1111.        ,  485.        ,
       1134.        ,  465.        ,  536.        ,  578.        ,
       1262.        ,  448.        ,  452.        , 1174.        ,
        665.        ,  436.        , 1149.        ,  828.        ,
        777.        , 1268.        , 1160.        , 1235.        ,
        717.        ,  421.        ,  616.        , 1101.        ,
        838.        ,  565.        ,  559.        ,  708.        ,
        575.        ,  959.        ,  666.        , 1080.        ,
       1173.        ,  442.        ,  558.        ,  278.        ,
       1148.        ,  738.        , 1008.        ,  247.        ,
       1254.        , 1255.        ,  590.        , 1107.        ,
       1214.        ,  549.        ,  569.        ,  629.        ,
        534.        , 1293.        , 1158.        ,  639.        ,
        440.        ,  547.        ,  729.        , 1313.        ,
       1185.        ,  669.        ,  489.        ,  533.        ,
       1165.        ,  313.        , 1137.        , 1121.        ,
       1166.        , 1090.        , 1131.        ,  497.        ,
       1155.        , 1190.        , 1168.        ,  428.        ,
        375.        ,  424.        ,  200.        ,  737.        ,
       1172.        ,  628.        ,  539.        ,  528.        ,
       1066.        ,  515.        ,  469.        , 1116.        ,
        443.        ,  548.        ,  595.        , 1119.        ,
        458.        ,  332.        , 1156.        ,  409.        ,
        470.        ,  507.        , 1144.        ,  444.        ,
        648.        , 1195.        , 1272.        , 1222.        ,
        459.        , 1252.        ,  394.        , 1138.        ,
        619.        ,  480.        ,  432.        , 1400.        ,
       1224.        , 1259.        , 1151.        ,  519.        ,
       1288.        , 1170.        ,  430.        ,  431.        ,
       1187.        , 1220.        , 1205.        , 1130.        ,
        453.        ,  588.        , 1198.        ,  609.        ,
        400.        ,  405.        , 1201.        ,  433.        ,
       1145.        ,  447.        , 1178.        ,  517.        ,
        360.        ,  342.        ,  420.        , 1290.        ,
       1219.        ,  577.        ,  518.        , 1237.        ,
       1206.        ,  300.        , 1211.        , 1264.        ,
        408.        ,  390.        , 1263.        , 1242.        ,
        411.        ,  417.        ,  307.        ,  273.        ,
        437.        , 1394.        , 1306.        ,  301.        ,
        427.        ,  353.        , 1253.        , 1175.        ,
       1251.        ,  410.        ])

In [30]:

index = df[(df['Childs\'s height in centimeters'] == 9994) | (df['Childs\'s height in centimeters'] == 9995 )| (df['Childs\'s height in centimeters'] == 9996 )| (df['Childs\'s height in centimeters'] == 9999 )].index
df.drop(index,inplace=True)

In [31]:
df['Childs\'s height in centimeters'] = df['Childs\'s height in centimeters']/10

In [32]:
df['Childs\'s height in centimeters'].min()

20.0

In [33]:
df['Childs\'s height in centimeters'].max()

140.0

In [34]:
df['Childs\'s weight in kilograms'].unique()

array([1.31000000e+02, 1.11000000e+02, 1.45000000e+02, 7.80000000e+01,
       1.27000000e+02, 2.62000000e+02, 1.00000000e+02, 1.33000000e+02,
       4.85888795e+02, 1.10000000e+02, 4.50000000e+01, 1.01000000e+02,
       1.21000000e+02, 9.30000000e+01, 1.15000000e+02, 9.70000000e+01,
       1.51000000e+02, 9.10000000e+01, 1.70000000e+02, 1.14000000e+02,
       5.20000000e+01, 1.34000000e+02, 1.04000000e+02, 6.70000000e+01,
       8.00000000e+01, 1.53000000e+02, 1.24000000e+02, 1.02000000e+02,
       8.80000000e+01, 1.52000000e+02, 9.20000000e+01, 1.43000000e+02,
       2.00000000e+02, 4.00000000e+01, 1.41000000e+02, 8.10000000e+01,
       1.42000000e+02, 1.12000000e+02, 1.48000000e+02, 5.30000000e+01,
       1.09000000e+02, 8.30000000e+01, 1.67000000e+02, 2.47000000e+02,
       1.60000000e+02, 6.00000000e+01, 3.00000000e+01, 7.10000000e+01,
       6.30000000e+01, 1.35000000e+02, 1.25000000e+02, 1.36000000e+02,
       1.55000000e+02, 4.30000000e+01, 8.20000000e+01, 1.20000000e+02,
       9.80000000e+01, 1.61000000e+02, 1.59000000e+02, 2.11000000e+02,
       1.06000000e+02, 1.84000000e+02, 3.10000000e+01, 2.61000000e+02,
       6.10000000e+01, 2.81000000e+02, 1.54000000e+02, 1.38000000e+02,
       1.89000000e+02, 1.37000000e+02, 1.08000000e+02, 7.70000000e+01,
       3.50000000e+01, 6.80000000e+01, 1.22000000e+02, 9.40000000e+01,
       8.40000000e+01, 4.10000000e+01, 1.32000000e+02, 7.30000000e+01,
       4.20000000e+01, 1.92000000e+02, 2.13000000e+02, 1.63000000e+02,
       5.00000000e+01, 1.05000000e+02, 1.50000000e+02, 7.00000000e+01,
       1.83000000e+02, 1.64000000e+02, 2.90000000e+01, 1.77000000e+02,
       1.13000000e+02, 2.80000000e+01, 1.56000000e+02, 3.40000000e+01,
       1.26000000e+02, 6.40000000e+01, 1.28000000e+02, 1.81000000e+02,
       5.10000000e+01, 5.40000000e+01, 3.20000000e+01, 1.44000000e+02,
       9.00000000e+01, 1.40000000e+02, 1.30000000e+02, 1.62000000e+02,
       2.03000000e+02, 2.02000000e+02, 1.82000000e+02, 2.12000000e+02,
       1.73000000e+02, 6.20000000e+01, 1.39000000e+02, 1.75000000e+02,
       6.50000000e+01, 1.23000000e+02, 7.60000000e+01, 1.07000000e+02,
       9.60000000e+01, 1.88000000e+02, 2.14000000e+02, 1.91000000e+02,
       7.90000000e+01, 2.18000000e+02, 7.50000000e+01, 1.71000000e+02,
       5.50000000e+01, 1.17000000e+02, 5.80000000e+01, 8.60000000e+01,
       1.65000000e+02, 1.72000000e+02, 1.18000000e+02, 3.30000000e+01,
       1.46000000e+02, 2.54000000e+02, 1.74000000e+02, 2.21000000e+02,
       2.24000000e+02, 7.20000000e+01, 1.80000000e+02, 2.39000000e+02,
       2.10000000e+02, 2.50000000e+02, 1.16000000e+02, 3.80000000e+01,
       2.31000000e+02, 2.64000000e+02, 2.40000000e+02, 2.60000000e+02,
       2.46000000e+02, 1.03000000e+02, 1.79000000e+02, 2.09000000e+02,
       2.51000000e+02, 2.01000000e+02, 1.95000000e+02, 2.71000000e+02,
       1.29000000e+02, 8.50000000e+01, 9.50000000e+01, 1.76000000e+02,
       1.94000000e+02, 1.58000000e+02, 1.86000000e+02, 4.60000000e+01,
       5.60000000e+01, 8.70000000e+01, 2.16000000e+02, 1.66000000e+02,
       1.85000000e+02, 6.60000000e+01, 1.19000000e+02, 9.90000000e+01,
       1.47000000e+02, 4.40000000e+01, 1.49000000e+02, 1.68000000e+02,
       1.57000000e+02, 2.17000000e+02, 7.40000000e+01, 8.90000000e+01,
       3.90000000e+01, 5.70000000e+01, 3.60000000e+01, 1.69000000e+02,
       1.87000000e+02, 2.30000000e+01, 1.99000000e+02, 1.93000000e+02,
       2.44000000e+02, 2.50000000e+01, 2.20000000e+01, 2.63000000e+02,
       4.80000000e+01, 2.53000000e+02, 9.99400000e+03, 4.90000000e+01,
       2.91000000e+02, 2.30000000e+02, 2.45000000e+02, 2.37000000e+02,
       2.05000000e+02, 5.90000000e+01, 1.97000000e+02, 2.60000000e+01,
       2.25000000e+02, 2.23000000e+02, 2.20000000e+02, 5.00000000e+00,
       2.82000000e+02, 1.90000000e+02, 2.26000000e+02, 2.35000000e+02,
       2.40000000e+01, 4.70000000e+01, 2.80000000e+02, 6.90000000e+01,
       2.08000000e+02, 1.78000000e+02, 1.98000000e+02, 2.43000000e+02,
       2.99000000e+02, 1.96000000e+02, 2.38000000e+02, 2.04000000e+02,
       2.27000000e+02, 2.36000000e+02, 2.55000000e+02, 2.41000000e+02,
       2.98000000e+02, 2.22000000e+02, 2.67000000e+02, 3.10000000e+02,
       3.11000000e+02, 2.15000000e+02, 3.70000000e+01, 2.33000000e+02,
       2.70000000e+01, 2.19000000e+02, 2.32000000e+02, 2.28000000e+02,
       2.86000000e+02, 3.20000000e+02, 1.50000000e+01, 1.30000000e+01,
       2.06000000e+02, 2.10000000e+01, 2.57000000e+02, 9.99500000e+03,
       9.99600000e+03, 2.07000000e+02, 2.96000000e+02, 2.76000000e+02,
       2.58000000e+02, 2.65000000e+02, 2.75000000e+02, 1.80000000e+01,
       1.90000000e+01, 3.04000000e+02, 2.84000000e+02, 2.78000000e+02,
       2.42000000e+02, 2.52000000e+02, 2.70000000e+02, 2.00000000e+01,
       2.29000000e+02, 1.60000000e+01, 2.89000000e+02, 1.00000000e+01,
       3.14000000e+02, 2.49000000e+02, 2.66000000e+02, 2.34000000e+02])

In [35]:
## CHILDS WEIGHT IN KILOGRAMS

In [36]:

index = df[(df['Childs\'s weight in kilograms'] == 9994) | (df['Childs\'s weight in kilograms'] == 9995 )| (df['Childs\'s weight in kilograms'] == 9996 )| (df['Childs\'s weight in kilograms'] == 9999 )].index
df.drop(index,inplace=True)

In [37]:
df['Childs\'s weight in kilograms'] = df['Childs\'s weight in kilograms']/10

In [38]:
df['Childs\'s weight in kilograms'].min()

0.5

In [39]:
df['Childs\'s weight in kilograms'].max()

48.58887945093775

In [40]:
df['Childs\'s weight in kilograms'].value_counts()

Childs's weight in kilograms
48.588879    1710
12.100000     447
10.100000     425
13.100000     400
12.500000     355
             ...
29.900000       1
23.800000       1
23.600000       1
29.800000       1
23.400000       1
Name: count, Length: 273, dtype: int64

In [41]:
## CHILDS AGE IN MONTHS

In [42]:
df['Childs\'s age in months'].unique()

array([51.        , 12.        , 25.        , 13.        , 39.        ,
       57.        ,  1.        , 11.        , 29.74257756, 36.        ,
        6.        , 52.        , 31.        , 42.        , 32.        ,
       56.        , 55.        , 17.        , 29.        , 22.        ,
       21.        , 14.        , 26.        ,  7.        ,  8.        ,
       15.        , 54.        , 30.        , 37.        , 16.        ,
       43.        ,  3.        ,  0.        , 27.        , 53.        ,
        9.        , 28.        , 50.        , 45.        , 40.        ,
        5.        , 35.        , 44.        , 20.        , 24.        ,
        2.        , 19.        , 49.        , 33.        , 58.        ,
       41.        , 38.        , 47.        , 18.        ,  4.        ,
       23.        , 10.        , 34.        , 46.        , 48.        ,
       59.        ])

In [43]:
df['Childs\'s age in months'].min()

0.0

In [44]:
df['Childs\'s age in months'].max()

59.0

In [45]:
##

In [46]:
df['Birth weight in kilograms'].unique()

array([3.   , 2.4  , 9.996, 2.2  , 2.5  , 3.5  , 2.6  , 2.   , 1.89 ,
       3.8  , 2.9  , 2.7  , 3.1  , 2.1  , 3.3  , 2.3  , 3.2  , 4.   ,
       3.6  , 2.78 , 2.8  , 3.4  , 1.   , 2.75 , 6.   , 1.7  , 3.25 ,
       3.05 , 1.9  , 3.03 , 3.9  , 5.   , 3.15 , 4.1  , 3.75 , 3.7  ,
       1.3  , 2.72 , 4.3  , 1.5  , 1.2  , 5.3  , 4.8  , 4.14 , 2.48 ,
       4.25 , 3.45 , 2.45 , 5.7  , 4.2  , 4.5  , 2.25 , 3.16 , 0.5  ,
       2.36 , 2.74 , 1.28 , 2.05 , 2.92 , 1.4  , 1.76 , 1.67 , 2.85 ,
       1.6  , 1.25 , 2.77 , 2.73 , 4.6  , 5.5  , 2.59 , 3.01 , 1.75 ,
       1.8  , 2.35 , 0.8  , 8.   , 2.99 , 2.71 , 1.99 , 5.4  , 2.15 ,
       2.68 , 2.95 , 4.7  , 2.79 , 2.96 , 3.07 , 2.76 , 1.77 , 1.78 ,
       2.43 , 2.89 , 1.29 , 1.98 , 3.22 , 3.002, 2.94 , 3.79 , 2.55 ,
       9.   , 6.5  , 3.019, 3.24 , 2.83 , 3.225, 2.87 , 0.7  , 4.4  ,
       2.575, 2.49 , 3.56 , 2.155, 2.06 , 2.23 , 2.65 , 2.46 , 2.41 ,
       2.38 , 0.6  , 2.075, 3.19 , 2.63 , 3.675, 3.98 , 3.08 , 3.54 ,
       3.64 , 3.11 , 2.645, 2.745, 3.165, 2.515, 2.53 , 3.47 , 3.48 ,
       3.185, 1.155, 0.88 , 3.12 , 2.81 , 2.975, 2.685, 3.415, 3.14 ,
       2.415, 2.91 , 2.39 , 2.793, 3.835, 3.97 , 3.515, 2.855, 2.985,
       3.13 , 2.355, 2.56 , 3.35 , 3.04 , 2.635, 3.39 , 2.97 , 2.07 ,
       3.325, 1.92 , 1.91 , 3.245, 3.32 , 3.785, 3.215, 2.955, 3.62 ,
       2.98 , 3.28 , 2.905, 3.37 , 3.001, 2.775, 2.613, 2.18 , 2.33 ,
       2.725, 2.27 , 2.845, 2.006, 3.65 , 2.835, 3.85 , 2.875, 3.365,
       1.45 , 3.38 , 3.125, 1.71 , 2.585, 3.535, 2.115, 2.965, 2.205,
       2.885, 3.105, 2.93 , 3.015, 3.41 , 3.02 , 3.825, 2.275, 2.005,
       2.17 , 2.69 , 2.517, 2.62 , 3.89 , 3.665, 4.37 , 3.42 , 3.36 ,
       2.945, 2.12 , 4.75 , 2.007, 2.84 , 2.665, 3.003, 2.09 , 2.072,
       2.51 , 1.05 , 1.1  , 2.34 , 2.225, 2.86 , 2.24 , 3.555, 1.15 ,
       2.58 , 2.28 , 2.44 , 2.014, 2.54 , 2.001, 1.21 , 3.27 , 7.   ,
       3.51 , 2.52 , 2.47 , 2.21 , 1.245, 3.135, 2.67 , 1.85 , 2.089,
       2.004, 2.445, 2.012, 2.42 , 1.01 , 2.963, 0.9  , 2.009, 2.916,
       2.804, 3.025, 3.57 , 2.025, 3.745, 4.9  , 3.475, 3.004, 2.068,
       4.015, 2.02 , 1.65 , 3.065, 3.72 , 2.88 , 2.11 , 3.88 , 1.18 ,
       3.575, 2.096, 2.324, 2.519, 6.2  , 2.831, 2.375, 2.246, 1.075,
       4.45 , 3.005, 1.14 , 9.98 , 3.73 , 5.2  , 5.1  , 1.68 , 3.159,
       2.895, 2.087, 2.82 , 4.17 , 0.75 , 2.66 , 1.49 , 4.225, 3.68 ,
       7.75 , 3.176, 2.535, 2.943, 2.01 , 2.525, 3.905, 3.17 , 2.049,
       3.378, 2.755, 3.74 , 1.658, 2.815, 2.865, 3.845, 3.445, 2.468,
       2.64 , 3.006, 3.011, 2.839, 3.035, 2.093, 2.31 , 3.223, 2.765,
       2.153, 3.71 , 2.008, 2.812, 3.285, 1.35 , 3.44 , 2.925, 1.175,
       9.5  , 2.505, 1.885, 2.742, 4.02 , 2.29 , 2.448, 1.95 , 2.08 ,
       2.549, 3.23 , 2.578, 3.556, 2.083, 1.79 , 3.26 , 2.165, 2.769,
       3.075, 2.094, 3.241, 2.32 , 4.05 , 2.345, 3.455, 2.365, 1.725,
       2.57 , 2.22 , 3.53 , 2.914, 5.25 , 2.319, 1.099, 2.694, 2.712,
       2.772, 3.154, 1.606, 3.275, 2.522, 2.208, 3.55 , 3.725, 3.31 ,
       1.59 , 3.155, 3.287, 3.67 , 5.6  , 2.26 , 1.575, 3.18 , 2.785,
       2.125, 2.185, 2.414, 2.545, 2.055, 3.107])

In [47]:

index = df[(df['Birth weight in kilograms'] == 9.98) | (df['Birth weight in kilograms'] == 9.5)| (df['Birth weight in kilograms'] == 9.999 )].index
df.drop(index,inplace=True)

In [48]:
df['Birth weight in kilograms'].min()

0.5

In [49]:
df['Birth weight in kilograms'].max()

9.996

In [50]:
df['Size of child at birth'].unique()

array([3, 2, 4, 5, 1, 8])

In [51]:

index = df[(df['Size of child at birth'] == 8)].index
df.drop(index,inplace=True)

In [52]:
df['Size of child at birth'] = df['Size of child at birth'].replace({1:'Very Large',2:'Larger than Average',3:'Average',4:'Smaller than Average',5:'Very Small'})

In [53]:
df['Size of child at birth'].unique()

array(['Average', 'Larger than Average', 'Smaller than Average',
       'Very Small', 'Very Large'], dtype=object)

In [54]:
## SEX OF CHILD

In [55]:
df['Sex of child'].unique()

array([1, 2])

In [56]:
df['Sex of child'] = df['Sex of child'].replace({1:'Male',2:'Female'})

In [57]:
df['Sex of child'].unique()

array(['Male', 'Female'], dtype=object)

In [58]:
df['Father\'s educational attainment'].unique()

array([3.02043796, 3.        , 5.        , 0.        , 1.        ,
       4.        , 8.        ])

In [59]:
tolerance = 1e-7 
df['Father\'s educational attainment'] = df['Father\'s educational attainment'].apply(lambda x: 3 if abs(x - 3.02043796) < tolerance else x)

In [60]:
df['Father\'s educational attainment'] = df['Father\'s educational attainment'].replace({0:'No education',1:'Incomplete Primary',2:'Complete Primary',3:'Incomplete Secondary',4:'Complete Secondary',5:'Higher'})

In [61]:

index = df[(df['Father\'s educational attainment'] == 8)].index
df.drop(index,inplace=True)

In [62]:
df['Father\'s educational attainment'].unique()

array(['Incomplete Secondary', 'Higher', 'No education',
       'Incomplete Primary', 'Complete Secondary'], dtype=object)

In [63]:
df['Mother Snuffs by nose'].unique()

array([0, 1])

In [64]:
df['Mother Snuffs by nose'] = df['Mother Snuffs by nose'].replace({0:'No',1:'Yes'})

In [65]:
df['Mother Snuffs by nose'].unique()

array(['No', 'Yes'], dtype=object)

In [66]:
df['Mother Chews tobacco'].unique()

array([0, 1])

In [67]:
df['Mother Chews tobacco'] = df['Mother Chews tobacco'].replace({0:'No',1:'Yes'})

In [68]:
df['Mother Chews tobacco'].unique()

array(['No', 'Yes'], dtype=object)

In [69]:
## MOTHER SMOKES PIPE FULL OF TOBACCO

In [70]:
df['Mother Smokes pipe full of tobacco'].unique()

array([0, 1])

In [71]:
df['Mother Smokes pipe full of tobacco'] = df['Mother Smokes pipe full of tobacco'].replace({0:'No',1:'Yes'})

In [72]:
df['Mother Smokes pipe full of tobacco'].unique()

array(['No', 'Yes'], dtype=object)

In [73]:
df['Mother\'s Under age 18 at time of birth'].unique()

array([2, 1])

In [74]:
df['Mother\'s Under age 18 at time of birth'] = df['Mother\'s Under age 18 at time of birth'].replace({1:'Under age 18',2:'Age 18 or Older'})

In [75]:
df['Mother\'s Under age 18 at time of birth'].unique()

array(['Age 18 or Older', 'Under age 18'], dtype=object)

In [76]:
# TYPE OF PLACE OF RESIDENCE

In [77]:
df['Type of place of residence'].unique()

array([2, 1])

In [78]:
df['Type of place of residence'] = df['Type of place of residence'].replace({1:'Urban',2:'Rural'})

In [79]:
df['Type of place of residence'].unique()

array(['Rural', 'Urban'], dtype=object)

In [80]:
# SOURCE OF DRINKING WATER

In [81]:
df['Source of drinking water'].unique()

array([14, 12, 11, 31, 42, 43, 97, 21, 41, 13, 32, 61, 62, 92, 96, 71, 51])

In [82]:
df['Source of drinking water']=df['Source of drinking water']=df['Source of drinking water'].replace({10:'Piped Water',11:'Piped into dwelling',12:'Piped to yard/plot',13:'Piped to neighbor',14:'Public tap/standpipe',20:'tubewell water',21:'Tubewell/ borehole',30:'Dug well(Open/Protected)',31:'Protected well',32:'Unprotected well',40:'Surface from spring',41:'Protected Spring',42:'Unprotected Spring',43:'River/lake/dam/ponds/stream/canal/irrigation channel',51:'Rainwater',61:'Tanker truck',62:'Cart with small tank',71:'Bottled water'})

In [83]:
index = df[(df['Source of drinking water'] == 96) | (df['Source of drinking water']==97) | (df['Source of drinking water'] ==99 )|df['Source of drinking water'] == 92 ].index
df.drop(index,inplace = True)

In [84]:
df['Source of drinking water'].unique()

array(['Public tap/standpipe', 'Piped to yard/plot',
       'Piped into dwelling', 'Protected well', 'Unprotected Spring',
       'River/lake/dam/ponds/stream/canal/irrigation channel', 97,
       'Tubewell/ borehole', 'Protected Spring', 'Piped to neighbor',
       'Unprotected well', 'Tanker truck', 'Cart with small tank', 92, 96,
       'Bottled water', 'Rainwater'], dtype=object)

In [85]:
## NUMBER OF HOUSEHOLD MEMBERS

In [86]:
df['Number of household members'].unique()

array([ 6,  3,  5,  4,  7,  8,  9, 11, 12, 13, 10,  2, 15, 14, 17,  1, 19,
       18, 21, 23, 16, 20, 24, 25, 28])

In [87]:
df['Number of household members'].min()

1

In [88]:
df['Number of household members'].max()

28

In [89]:
## WEALTH INDEX FACTOR SCORE COMBINED

In [90]:
df['Wealth index factor score combined'].unique()

array([  484230,  -881310, -1315280, ..., -1125840,  -977970,  -889330])

In [91]:
df['Wealth index factor score combined'] = df['Wealth index factor score combined']/100000

In [92]:
df['Wealth index factor score combined'].unique()

array([  4.8423,  -8.8131, -13.1528, ..., -11.2584,  -9.7797,  -8.8933])

In [93]:
## WEALTH INDEX FACTOR SCORE FOR URBAN/RURAL

In [94]:
df['Wealth index factor score for urban/rural'].unique()

array([  833130,  -667160, -1143950, ...,  -935810,  -773360,  -675970])

In [95]:
df['Wealth index factor score for urban/rural'] = df['Wealth index factor score for urban/rural']/100000

In [96]:
df['Wealth index factor score for urban/rural'].unique()

array([  8.3313,  -6.6716, -11.4395, ...,  -9.3581,  -7.7336,  -6.7597])

In [97]:
## MOTHERS WEIGHT IN KG

In [98]:
df['Mother\'s weight in kilograms'].unique()

array([ 760.        ,  438.        ,  753.        ,  655.        ,
        605.        ,  801.        ,  588.        ,  600.        ,
        420.        ,  745.        ,  515.        ,  602.        ,
        577.        ,  578.        ,  557.        ,  584.        ,
        604.        ,  624.        ,  496.        ,  811.        ,
        633.        ,  631.        ,  721.        ,  613.        ,
        644.        ,  614.        ,  565.        ,  598.        ,
        524.        ,  610.        ,  728.        ,  513.        ,
        627.        ,  514.        ,  595.        ,  652.        ,
        512.        ,  555.        ,  502.        ,  494.        ,
        506.        ,  813.        ,  589.        ,  691.        ,
        603.        ,  771.        ,  804.        ,  535.        ,
        544.        ,  572.        ,  815.        ,  560.        ,
        505.        ,  701.        ,  568.        ,  873.        ,
        637.        ,  520.        ,  533.        ,  601.        ,
        583.        ,  623.        ,  634.        ,  551.        ,
        531.        ,  599.        ,  638.        ,  522.        ,
        523.        ,  563.        ,  616.        ,  654.        ,
        483.        ,  518.        ,  545.        ,  593.        ,
        622.        ,  594.        ,  677.        ,  541.        ,
        564.        ,  697.        ,  612.        ,  550.        ,
        554.        ,  592.        , 9994.        ,  510.        ,
        597.        ,  540.        ,  683.        ,  636.        ,
        562.        ,  596.        ,  672.        ,  706.        ,
        576.        ,  643.        ,  546.        ,  661.        ,
        534.        ,  571.        ,  726.        ,  561.        ,
        651.        ,  530.        ,  733.        ,  430.        ,
        621.        ,  481.        ,  478.        ,  608.        ,
        501.        ,  648.        ,  539.        ,  521.        ,
        615.        ,  667.        ,  625.        ,  552.        ,
        559.        ,  629.        ,  865.        ,  498.        ,
       9995.        ,  446.        ,  503.        ,  662.        ,
        645.        ,  653.        ,  635.        ,  712.        ,
        746.        ,  682.        ,  632.        ,  715.        ,
        669.        ,  511.        ,  504.        ,  586.        ,
        708.        ,  458.        , 1497.        ,  628.        ,
        575.        ,  558.        ,  425.        ,  679.        ,
        574.        ,  716.        ,  591.        ,  499.        ,
        675.        ,  556.        ,  647.        ,  695.        ,
        650.        ,  567.        ,  587.        ,  526.        ,
        547.        ,  687.        ,  611.        ,  590.        ,
        720.        ,  738.        ,  681.        ,  630.        ,
        686.        ,  694.        ,  703.        ,  579.        ,
        734.        ,  714.        ,  727.        ,  663.        ,
        516.        ,  491.        ,  582.        ,  761.        ,
        618.        ,  472.        ,  468.        ,  639.        ,
        735.        ,  668.        ,  659.        ,  707.        ,
        537.        ,  442.        ,  692.        ,  711.        ,
        525.        ,  676.        ,  488.        ,  699.        ,
        581.        ,  580.        ,  689.        ,  620.        ,
        693.        ,  553.        ,  542.        ,  684.        ,
        671.        ,  657.        ,  607.        ,  724.        ,
        454.        ,  482.        ,  664.        ,  543.        ,
        723.        ,  450.        ,  641.        ,  451.        ,
        500.        ,  673.        ,  606.        ,  750.        ,
        617.        ,  642.        ,  549.        ,  725.        ,
        763.        ,  626.        ,  536.        ,  431.        ,
        573.        ,  471.        ,  456.        ,  480.        ,
        787.        ,  570.        ,  646.        ,  477.        ,
        795.        ,  412.        ,  474.        ,  731.        ,
        487.        ,  485.        ,  702.        ,  649.        ,
        527.        ,  497.        ,  495.        ,  479.        ,
        424.        ,  493.        ,  509.        ,  452.        ,
        473.        ,  678.        ,  419.        ,  757.        ,
        548.        ,  737.        ,  685.        ,  428.        ,
        355.        ,  538.        ,  585.        ,  784.        ,
        747.        ,  403.        ,  492.        ,  467.        ,
        489.        ,  569.        ,  830.        ,  762.        ,
        713.        ,  640.        ,  447.        ,  722.        ,
        366.        ,  680.        ,  508.        ,  566.        ,
        532.        ,  484.        ,  768.        ,  507.        ,
        688.        ,  443.        ,  404.        ,  421.        ,
        461.        ,  441.        ,  803.        ,  619.        ,
        397.        ,  742.        ,  486.        ,  782.        ,
        816.        ,  411.        ,  903.        ,  846.        ,
        462.        ,  754.        ,  656.        ,  435.        ,
        852.        ,  395.        ,  312.        ,  394.        ,
        674.        ,  396.        ,  519.        ,  359.        ,
        465.        ,  437.        ,  402.        ,  919.        ,
        466.        ,  529.        ,  690.        ,  436.        ,
        400.        ,  373.        ,  406.        ,  434.        ,
        418.        ,  409.        ,  384.        ,  380.        ,
        475.        ,  460.        ,  337.        ,  832.        ,
        490.        ,  426.        ,  729.        ,  470.        ,
        379.        ,  831.        ,  408.        ,  783.        ,
        457.        ,  851.        ,  670.        ,  950.        ,
        349.        ,  863.        ,  736.        ,  956.        ,
        769.        ,  741.        ,  665.        ,  423.        ,
        775.        , 1069.        ,  658.        ,  732.        ,
        398.        ,  770.        ,  854.        ,  805.        ,
       1431.        ,  777.        ,  857.        ,  368.        ,
        790.        ,  860.        ,  439.        ,  817.        ,
        839.        ,  824.        ,  840.        ,  856.        ,
        765.        ,  922.        ,  906.        ,  666.        ,
        705.        ,  923.        ,  698.        ,  660.        ,
        792.        ,  718.        ,  739.        ,  891.        ,
        791.        ,  528.        ,  704.        ,  740.        ,
        898.        ,  719.        ,  864.        ,  405.        ,
        859.        ,  807.        ,  700.        ,  785.        ,
        362.        ,  845.        ,  759.        ,  764.        ,
        696.        ,  773.        ,  751.        ,  779.        ,
        841.        ,  440.        ,  357.        ,  710.        ,
        476.        ,  445.        ,  772.        ,  459.        ,
        250.        ,  998.        ,  390.        ,  994.        ,
        463.        ,  838.        ,  743.        ,  748.        ,
        885.        ,  401.        ,  709.        ,  391.        ,
        744.        ,  416.        ,  823.        ,  755.        ,
        609.        ,  800.        ,  517.        ,  453.        ,
        749.        ,  798.        ,  388.        ,  820.        ,
        810.        , 1013.        ,  448.        ,  415.        ,
        455.        ,  399.        ,  407.        ,  432.        ,
        464.        ,  981.        ,  897.        ,  444.        ,
        871.        ,  352.        ,  410.        ,  381.        ,
        786.        ,  469.        ,  338.        ,  730.        ,
        717.        ,  429.        ,  819.        ,  776.        ,
        778.        ,  781.        ,  905.        ,  788.        ,
        427.        ,  843.        ,  422.        ,  758.        ,
        821.        ,  802.        ,  809.        ,  369.        ,
        372.        ,  377.        ,  364.        ,  370.        ,
        844.        ,  383.        ,  414.        ,  433.        ,
        874.        ,  371.        ,  449.        , 9996.        ,
        342.        ,  310.        ,  413.        ,  332.        ,
        305.        ,  363.        ,  387.        ,  350.        ,
        299.        ,  361.        ,  904.        ,  866.        ,
        385.        ,  367.        ,  382.        ,  334.        ,
        393.        ,  392.        ,  351.        ,  376.        ,
        336.        ,  793.        , 1016.        ,  766.        ,
        339.        ,  858.        ,  356.        ,  348.        ,
        847.        ,  957.        ,  849.        ,  835.        ,
        417.        ,  861.        ,  346.        ,  774.        ,
        374.        ,  855.        ,  789.        ,  328.        ,
        375.        ,  780.        ,  826.        ,  825.        ,
        341.        ,  347.        ,  921.        ,  354.        ,
        353.        ,  378.        ,  822.        ,  808.        ,
        916.        ,  812.        ,  797.        ,  884.        ,
       1006.        ,  989.        ,  910.        ,  806.        ,
        818.        ,  848.        ,  330.        ,  932.        ,
        902.        ,  883.        ,  938.        ,  965.        ,
        340.        ,  842.        ,  899.        ,  814.        ,
        756.        ,  975.        ,  877.        ,  872.        ,
        971.        ,  892.        ,  389.        ,  985.        ,
        314.        ,  867.        ,  767.        ,  882.        ,
        954.        ,  976.        ,  887.        ,  837.        ,
       1052.        ,  853.        ,  995.        ,  953.        ,
        988.        ,  279.        , 1011.        ,  946.        ,
        358.        ,  799.        ,  924.        ,  309.        ,
        880.        , 1082.        ,  868.        ,  878.        ,
        752.        ,  794.        ,  828.        ,  940.        ,
        386.        , 1160.        ,  344.        ,  365.        ,
        343.        ,  880.96080125, 1032.        ,  335.        ,
        827.        ,  322.        , 1019.        , 1056.        ,
        911.        ,  245.        ,  296.        , 1039.        ,
       1043.        ,  313.        , 1071.        , 1146.        ,
        286.        ,  889.        ,  834.        ,  901.        ,
        941.        ,  850.        ,  939.        ,  890.        ,
        881.        , 1128.        ,  928.        , 1024.        ,
        925.        ,  886.        ,  308.        ,  929.        ,
        321.        ,  862.        , 1096.        ,  829.        ,
        836.        ,  942.        ,  320.        ,  973.        ,
        294.        ,  991.        ,  992.        ,  875.        ,
        944.        ,  879.        ,  908.        ,  345.        ,
        927.        ,  796.        ,  894.        ,  290.        ,
        331.        ,  930.        ,  360.        ,  298.        ,
        317.        , 1423.        , 1491.        , 1099.        ,
        833.        , 1007.        ,  876.        ,  952.        ,
        967.        ,  926.        ,  917.        ,  990.        ,
        958.        , 1060.        ,  913.        ,  895.        ,
        318.        ,  983.        ,  333.        ,  280.        ,
       1027.        ,  968.        ,  936.        ,  915.        ,
        945.        ,  978.        , 1031.        ,  959.        ,
        970.        ,  888.        ,  870.        ,  979.        ,
        920.        ,  961.        , 1047.        , 1045.        ,
       1095.        ,  948.        ,  999.        , 1074.        ,
        315.        , 1110.        ,  316.        ,  324.        ,
        225.        ,  949.        , 1192.        , 1419.        ,
       1493.        , 1200.        ,  325.        ,  935.        ,
       1005.        ,  912.        , 1028.        ,  289.        ,
        303.        ,  304.        ,  896.        ,  291.        ,
       1525.        ,  311.        , 1489.        ,  327.        ,
        307.        , 1409.        ,  869.        ,  209.        ])

In [99]:

index = df[(df['Mother\'s weight in kilograms'] == 9994) | (df['Mother\'s weight in kilograms'] == 9995)| (df['Mother\'s weight in kilograms'] == 9996 )| (df['Mother\'s weight in kilograms'] == 9999 )].index
df.drop(index,inplace=True)

In [100]:
df['Mother\'s weight in kilograms'] = df['Mother\'s weight in kilograms']/10

In [101]:
df['Mother\'s weight in kilograms'].min()

20.9

In [102]:
df['Mother\'s weight in kilograms'].max()

152.5

In [103]:
df['Mother\'s height in centimeters'].unique()

array([1614.        , 1406.        , 1573.        , 1597.        ,
       1073.        , 1617.        , 1586.        , 1394.        ,
       1461.        , 1582.        , 1575.        , 1604.        ,
       1584.        , 1564.        , 1547.        , 1567.        ,
       1578.        , 1474.        , 1561.        , 1671.        ,
       1581.        , 1491.        , 1593.        , 1574.        ,
       1548.        , 1554.        , 1588.        , 1528.        ,
       1585.        , 1523.        , 1536.        , 1587.        ,
       1513.        , 1565.        , 1509.        , 1594.        ,
       1556.        , 1583.        , 1531.        , 1615.        ,
       1543.        , 1666.        , 1611.        , 1498.        ,
       1605.        , 1607.        , 1493.        , 1571.        ,
       1632.        , 1535.        , 1495.        , 1577.        ,
       1596.        , 1517.        , 1590.        , 1592.        ,
       1503.        , 1589.        , 1631.        , 1647.        ,
       1624.        , 1541.        , 1613.        , 1653.        ,
       1612.        , 1514.        , 1499.        , 1522.        ,
       1576.        , 1599.        , 1532.        , 1595.        ,
       1634.        , 1562.        , 1702.        , 1496.        ,
       1526.        , 1481.        , 1635.        , 1639.        ,
       1563.        , 1636.        , 1609.        , 1622.        ,
       1603.        , 1540.        , 1602.        , 1557.        ,
       1623.        , 1606.        , 1507.        , 1693.        ,
       1555.        , 1601.        , 1685.        , 1645.        ,
       1538.        , 1534.        , 1627.        , 1471.        ,
       1501.        , 1519.        , 1699.        , 1492.        ,
       1683.        , 1643.        , 1629.        , 1657.        ,
       1638.        , 1655.        , 1637.        , 1572.        ,
       1533.        , 1753.        , 1512.        , 1568.        ,
       1626.        , 1618.        , 1552.        , 1544.        ,
       1570.        , 1553.        , 1477.        , 1521.        ,
       1672.        , 1515.        , 1407.        , 1579.        ,
       1476.        , 1004.        , 1550.        , 1616.        ,
       1537.        , 1654.        , 1696.        , 1416.        ,
       1464.        , 1466.        , 1598.        , 1566.        ,
       1569.        , 1488.        , 1510.        , 1659.        ,
       1644.        , 1516.        , 1625.        , 1642.        ,
       1475.        , 1633.        , 1608.        , 1529.        ,
       1490.        , 1610.        , 1652.        , 1457.        ,
       1843.        , 1674.        , 1600.        , 1620.        ,
       1728.        , 1722.        , 1641.        , 1731.        ,
       1692.        , 1713.        , 1648.        , 1817.        ,
       1524.        , 1462.        , 1431.        , 1452.        ,
       1421.        , 1559.        , 1435.        , 1742.        ,
       1546.        , 1502.        , 1542.        , 1024.        ,
       1525.        , 1497.        , 1427.        , 1714.        ,
       1697.        , 1726.        , 1689.        , 1621.        ,
       1487.        , 1591.        , 1743.        , 1826.        ,
       1504.        , 1549.        , 1646.        , 1518.        ,
       1472.        , 1663.        , 1545.        , 1494.        ,
       1700.        , 1486.        , 1754.        , 1703.        ,
       1704.        , 1508.        , 1580.        , 1711.        ,
       1667.        , 1560.        , 1640.        ,  860.        ,
       1480.        , 1393.        , 1670.        , 1710.        ,
       1677.        , 1500.        , 1751.        , 1682.        ,
       1539.        , 1483.        , 1405.        , 1527.        ,
       1551.        , 1730.        , 1651.        , 1413.        ,
       1384.        , 1432.        , 1391.        , 1415.        ,
       1423.        , 1436.        , 1403.        , 1426.        ,
       1392.        , 1463.        , 1511.        , 1712.        ,
       1694.        , 1673.        , 1446.        , 1417.        ,
       1441.        , 1437.        , 1442.        , 1412.        ,
       1467.        , 1447.        , 1485.        , 1434.        ,
       1650.        , 1473.        , 1506.        , 1456.        ,
       1482.        , 1454.        , 1349.        , 1484.        ,
       1350.        , 1430.        , 1719.        , 1750.        ,
       1656.        , 1857.        , 1687.        , 1489.        ,
       1455.        , 1776.        , 1783.        , 1619.        ,
       1661.        , 1686.        , 1468.        , 1321.        ,
       1420.        , 1450.        , 1366.        , 1320.        ,
       1362.        , 1774.        , 1404.        , 1749.        ,
       1778.        , 1733.        , 1520.        , 1433.        ,
       1382.        , 1664.        , 1658.        , 1357.        ,
       1478.        , 1630.        , 1530.        , 1361.        ,
       1695.        , 1425.        , 1755.        , 1440.        ,
       1705.        , 1419.        , 1744.        , 1684.        ,
       1453.        , 1680.        , 1676.        , 1628.        ,
       1660.        , 1691.        , 1443.        , 1428.        ,
       1396.        , 1459.        , 1558.        , 1448.        ,
       1424.        , 1469.        , 1747.        , 1715.        ,
       1332.        , 1678.        , 1746.        , 1688.        ,
       1701.        , 1662.        , 1505.        , 1665.        ,
       1718.        , 1445.        , 1721.        , 2035.        ,
       1438.        , 1470.        , 1465.        , 1770.        ,
       1168.        , 1253.        , 1649.        , 1285.        ,
       1398.        , 1681.        , 1796.        , 1724.        ,
       1690.        , 1734.        , 1479.        , 1418.        ,
       1402.        , 1669.        , 1014.        , 1449.        ,
       1737.        , 1439.        , 1668.        , 1308.        ,
       1408.        , 1400.        , 1725.        , 1698.        ,
       1679.        , 1716.        , 1156.        , 1723.        ,
       1675.        , 1429.        , 1786.        , 1355.        ,
       1395.        , 1336.        , 1059.        , 1414.        ,
       1410.        , 1301.        , 1709.        , 1422.        ,
       1460.        , 1399.        , 1801.        , 1409.        ,
       1326.        , 1451.        , 1444.        , 1385.        ,
       2000.        , 1987.        , 1359.        , 1855.        ,
       1181.        , 1323.        , 1782.        , 1458.        ,
       1306.        , 1052.        , 1387.        , 1401.        ,
       1371.        , 1884.        , 1044.        , 1389.        ,
       1390.        , 1378.        , 1708.        , 1379.        ,
       2069.        , 1315.        , 1717.        , 1864.        ,
       1732.        , 1363.        , 1802.        , 1335.        ,
       1376.        , 1760.        , 1764.        , 1375.        ,
       1351.        , 1840.14964158, 1411.        , 1992.        ,
       1334.        , 9996.        , 1386.        , 1971.        ,
       1380.        , 9995.        , 1338.        , 1388.        ,
       1354.        , 1343.        , 1383.        , 1374.        ,
       1767.        , 1324.        , 1397.        , 1369.        ,
       1765.        , 1352.        , 1364.        , 1340.        ,
       1152.        , 1346.        , 1325.        , 1028.        ,
       1331.        , 1105.        , 2010.        , 1356.        ,
       1339.        , 1372.        , 1729.        ,  820.        ,
       1914.        , 1337.        , 1745.        , 1341.        ,
       1756.        , 1368.        , 1304.        , 1319.        ,
       1377.        , 1381.        , 1935.        , 1736.        ,
       1017.        , 1342.        , 1204.        , 1367.        ,
       1950.        , 1963.        , 1282.        , 1309.        ,
       1360.        , 1311.        , 1318.        , 1965.        ,
       1707.        , 1110.        , 1740.        ,  818.        ,
       1310.        , 1955.        , 1979.        , 1261.        ,
       1772.        , 1051.        , 1850.        ])

In [104]:

index = df[(df['Mother\'s height in centimeters'] == 9994) | (df['Mother\'s height in centimeters'] == 9995)| (df['Mother\'s height in centimeters'] == 9996 )| (df['Mother\'s height in centimeters'] == 9999 )].index
df.drop(index,inplace=True)

In [105]:
df['Mother\'s height in centimeters'] = df['Mother\'s height in centimeters']/10

In [106]:
df['Mother\'s height in centimeters'].min()

81.8

In [107]:
df['Mother\'s height in centimeters'].max()

206.9

In [108]:
## CURRENTLY BREAST FEEDING

In [109]:
df['Currently breastfeeding'].unique()

array([0, 1])

In [110]:
df['Currently breastfeeding'] = df['Currently breastfeeding'].replace({0:'No',1:'Yes'})

In [111]:
df['Currently breastfeeding'].unique()

array(['No', 'Yes'], dtype=object)

In [112]:
df.dtypes

Type of place of residence                         object
Source of drinking water                           object
Number of household members                         int64
Toilet facilities shared with other households     object
Wealth index factor score combined                float64
Wealth index factor score for urban/rural         float64
Currently breastfeeding                            object
Mother's weight in kilograms                      float64
Mother's height in centimeters                    float64
Mother's BMI                                      float64
Mother's Under age 18 at time of birth             object
Mother Smokes pipe full of tobacco                 object
Mother Chews tobacco                               object
Mother Snuffs by nose                              object
v463f                                               int64
Frequency of mother smokes cigarettes              object
Father's occupation                               float64
Father's educational attainment                    object
Sex of child                                       object
Size of child at birth                             object
Birth weight in kilograms                         float64
Given child anything other than breast milk        object
Childs's age in months                            float64
Childs's weight in kilograms                      float64
Childs's height in centimeters                    float64
Child's Height/Age standard deviation             float64
Childs's Weight/Age standard deviation            float64
Childs's Weight/Height standard deviation         float64
Childs's BMI standard deviation (new WHO)         float64
Dietary Index                                     float64
dtype: object

In [113]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

columns_to_encode = [ 'Source of drinking water','Toilet facilities shared with other households','Currently breastfeeding','Mother\'s Under age 18 at time of birth','Mother Smokes pipe full of tobacco','Mother Chews tobacco','Mother Snuffs by nose','Frequency of mother smokes cigarettes',
                     'Father\'s educational attainment',
'Sex of child','Size of child at birth','Given child anything other than breast milk'
                    ]

enc = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

for column in columns_to_encode:

    df[column] = df[column].astype(str)

  
    encoder_df = pd.DataFrame(enc.fit_transform(df[[column]]), columns=enc.get_feature_names_out([column]))

    df = df.drop([column], axis=1)

    df = pd.concat([df, encoder_df], axis=1)

In [114]:
df

,Type of place of residence,Number of household members,Wealth index factor score combined,Wealth index factor score for urban/rural,Mother's weight in kilograms,Mother's height in centimeters,Mother's BMI,v463f,Father's occupation,Birth weight in kilograms,...,Sex of child_nan,Size of child at birth_Average,Size of child at birth_Larger than Average,Size of child at birth_Smaller than Average,Size of child at birth_Very Large,Size of child at birth_Very Small,Size of child at birth_nan,Given child anything other than breast milk_No,Given child anything other than breast milk_Yes,Given child anything other than breast milk_nan
0,Rural,6.0,4.84230,8.3313,76.0,161.4,2919.0,0.0,64.176851,3.000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Rural,6.0,-8.81310,-6.6716,43.8,140.6,2213.0,0.0,64.176851,2.400,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Rural,3.0,-13.15280,-11.4395,75.3,157.3,3041.0,0.0,64.176851,9.996,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Rural,5.0,-0.73821,2.2001,65.5,159.7,2566.0,0.0,64.176851,3.000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Rural,4.0,-1.42061,1.4504,60.5,107.3,5255.0,0.0,64.176851,2.200,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
31255,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
31259,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
31268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
31269,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [117]:
df = df.dropna()

In [119]:
df

,Type of place of residence,Number of household members,Wealth index factor score combined,Wealth index factor score for urban/rural,Mother's weight in kilograms,Mother's height in centimeters,Mother's BMI,v463f,Father's occupation,Birth weight in kilograms,...,Sex of child_nan,Size of child at birth_Average,Size of child at birth_Larger than Average,Size of child at birth_Smaller than Average,Size of child at birth_Very Large,Size of child at birth_Very Small,Size of child at birth_nan,Given child anything other than breast milk_No,Given child anything other than breast milk_Yes,Given child anything other than breast milk_nan
0,Rural,6.0,4.84230,8.3313,76.0,161.4,2919.0,0.0,64.176851,3.000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,Rural,6.0,-8.81310,-6.6716,43.8,140.6,2213.0,0.0,64.176851,2.400,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,Rural,3.0,-13.15280,-11.4395,75.3,157.3,3041.0,0.0,64.176851,9.996,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,Rural,5.0,-0.73821,2.2001,65.5,159.7,2566.0,0.0,64.176851,3.000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Rural,4.0,-1.42061,1.4504,60.5,107.3,5255.0,0.0,64.176851,2.200,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28474,Rural,6.0,4.04940,7.4602,44.3,156.5,1807.0,0.0,64.176851,2.800,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
28475,Rural,6.0,4.04940,7.4602,44.3,156.5,1807.0,0.0,64.176851,2.500,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28476,Rural,7.0,8.20700,12.0281,54.5,158.2,2178.0,0.0,64.176851,2.500,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
28477,Rural,9.0,16.07320,20.6705,61.9,153.5,2627.0,0.0,64.176851,4.200,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28478,Rural,9.0,16.07320,20.6705,61.9,153.5,2627.0,0.0,64.176851,2.200,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [118]:
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns

print(df.isnull().sum())

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

Type of place of residence                                                       0
Number of household members                                                      0
Wealth index factor score combined                                               0
Wealth index factor score for urban/rural                                        0
Mother's weight in kilograms                                                     0
Mother's height in centimeters                                                   0
Mother's BMI                                                                     0
v463f                                                                            0
Father's occupation                                                              0
Birth weight in kilograms                                                        0
Childs's age in months                                                           0
Childs's weight in kilograms                                                     0
Childs's height in centimeters                                                   0
Child's Height/Age standard deviation                                            0
Childs's Weight/Age standard deviation                                           0
Childs's Weight/Height standard deviation                                        0
Childs's BMI standard deviation (new WHO)                                        0
Dietary Index                                                                    0
Source of drinking water_92                                                      0
Source of drinking water_96                                                      0
Source of drinking water_97                                                      0
Source of drinking water_Bottled water                                           0
Source of drinking water_Cart with small tank                                    0
Source of drinking water_Piped into dwelling                                     0
Source of drinking water_Piped to neighbor                                       0
Source of drinking water_Piped to yard/plot                                      0
Source of drinking water_Protected Spring                                        0
Source of drinking water_Protected well                                          0
Source of drinking water_Public tap/standpipe                                    0
Source of drinking water_Rainwater                                               0
Source of drinking water_River/lake/dam/ponds/stream/canal/irrigation channel    0
Source of drinking water_Tanker truck                                            0
Source of drinking water_Tubewell/ borehole                                      0
Source of drinking water_Unprotected Spring                                      0
Source of drinking water_Unprotected well                                        0
Toilet facilities shared with other households_No                                0
Toilet facilities shared with other households_Not Dejure                        0
Toilet facilities shared with other households_Yes                               0
Toilet facilities shared with other households_nan                               0
Currently breastfeeding_No                                                       0
Currently breastfeeding_Yes                                                      0
Currently breastfeeding_nan                                                      0
Mother's Under age 18 at time of birth_Age 18 or Older                           0
Mother's Under age 18 at time of birth_Under age 18                              0
Mother's Under age 18 at time of birth_nan                                       0
Mother Smokes pipe full of tobacco_No                                            0
Mother Smokes pipe full of tobacco_Yes                                           0
Mother Smokes pipe full of tobacco_nan                                           0
Mother Chews tobacco_No                                                          0
Mother Chews tobacco_Yes                                                         0
Mother Chews tobacco_nan                                                         0
Mother Snuffs by nose_No                                                         0
Mother Snuffs by nose_Yes                                                        0
Mother Snuffs by nose_nan                                                        0
Frequency of mother smokes cigarettes_Does not smoke                             0
Frequency of mother smokes cigarettes_Everyday                                   0
Frequency of mother smokes cigarettes_Someday                                    0
Frequency of mother smokes cigarettes_nan                                        0
Father's educational attainment_Complete Secondary                               0
Father's educational attainment_Higher                                           0
Father's educational attainment_Incomplete Primary                               0
Father's educational attainment_Incomplete Secondary                             0
Father's educational attainment_No education                                     0
Father's educational attainment_nan                                              0
Sex of child_Female                                                              0
Sex of child_Male                                                                0
Sex of child_nan                                                                 0
Size of child at birth_Average                                                   0
Size of child at birth_Larger than Average                                       0
Size of child at birth_Smaller than Average                                      0
Size of child at birth_Very Large                                                0
Size of child at birth_Very Small                                                0
Size of child at birth_nan                                                       0
Given child anything other than breast milk_No                                   0
Given child anything other than breast milk_Yes                                  0
Given child anything other than breast milk_nan                                  0
dtype: int64

In [ ]:
# Model

In [121]:
!pip install pytorch_tabular

Requirement already satisfied: pytorch_tabular in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (1.0.2)
Requirement already satisfied: torch>=1.9.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (1.13.1)
Requirement already satisfied: category-encoders<2.7.0,>=2.6.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (2.6.3)
Requirement already satisfied: numpy>=1.17.2 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (1.24.3)
Requirement already satisfied: pandas>=1.1.5 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (1.3.2)
Requirement already satisfied: pytorch-lightning<2.0.0,>=1.8.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (1.9.5)
Requirement already satisfied: omegaconf>=2.1.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (2.3.0)
Requirement already satisfied: torchmetrics<0.12.0,>=0.10.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (0.11.4)
Requirement already satisfied: tensorboard!=2.5.0,>2.2.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (2.14.0)
Requirement already satisfied: protobuf<4.23.0,>=3.20.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (4.22.5)
Requirement already satisfied: pytorch-tabnet==4.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (4.0)
Requirement already satisfied: PyYAML<6.1.0,>=5.4 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (6.0.1)
Requirement already satisfied: matplotlib>3.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (3.7.4)
Requirement already satisfied: ipywidgets in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (8.1.1)
Requirement already satisfied: einops<0.7.0,>=0.6.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (0.6.1)
Requirement already satisfied: rich>=11.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch_tabular) (13.7.0)
Requirement already satisfied: scipy>1.4 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch-tabnet==4.0->pytorch_tabular) (1.10.1)
Requirement already satisfied: tqdm<5.0,>=4.36 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch-tabnet==4.0->pytorch_tabular) (4.66.1)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from category-encoders<2.7.0,>=2.6.0->pytorch_tabular) (0.14.1)
Requirement already satisfied: patsy>=0.5.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from category-encoders<2.7.0,>=2.6.0->pytorch_tabular) (0.5.5)
Requirement already satisfied: importlib-resources in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from category-encoders<2.7.0,>=2.6.0->pytorch_tabular) (6.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (4.47.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from matplotlib>3.1->pytorch_tabular) (2.8.2)
Requirement already satisfied: antlr4-python3-runtime==4.9.* in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from omegaconf>=2.1.0->pytorch_tabular) (4.9.3)
Requirement already satisfied: pytz>=2020.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pandas>=1.1.5->pytorch_tabular) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pandas>=1.1.5->pytorch_tabular) (2023.4)
Requirement already satisfied: fsspec>2021.06.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (2023.12.2)
Requirement already satisfied: typing-extensions>=4.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (4.7.1)
Requirement already satisfied: lightning-utilities>=0.6.0.post0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (0.10.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from rich>=11.0.0->pytorch_tabular) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from rich>=11.0.0->pytorch_tabular) (2.17.2)
Requirement already satisfied: joblib>=1.1.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from scikit-learn>=1.0.0->pytorch_tabular) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from scikit-learn>=1.0.0->pytorch_tabular) (3.2.0)
Requirement already satisfied: absl-py>=0.4 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2.0.0)
Requirement already satisfied: grpcio>=1.48.2 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (1.60.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2.25.2)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (3.5.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2.31.0)
Requirement already satisfied: setuptools>=41.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (68.2.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (3.0.1)
Requirement already satisfied: wheel>=0.26 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (0.41.2)
Requirement already satisfied: comm>=0.1.3 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipywidgets->pytorch_tabular) (0.1.4)
Requirement already satisfied: ipython>=6.1.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipywidgets->pytorch_tabular) (8.12.2)
Requirement already satisfied: traitlets>=4.3.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipywidgets->pytorch_tabular) (5.14.0)
Requirement already satisfied: widgetsnbextension~=4.0.9 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipywidgets->pytorch_tabular) (4.0.9)
Requirement already satisfied: jupyterlab-widgets~=3.0.9 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipywidgets->pytorch_tabular) (3.0.9)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (3.9.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from google-auth<3,>=1.6.3->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (1.3.1)
Requirement already satisfied: zipp>=3.1.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from importlib-resources->category-encoders<2.7.0,>=2.6.0->pytorch_tabular) (3.17.0)
Requirement already satisfied: backcall in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.2.0)
Requirement already satisfied: decorator in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.1.6)
Requirement already satisfied: pickleshare in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (3.0.42)
Requirement already satisfied: stack-data in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (4.8.0)
Requirement already satisfied: appnope in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.1.3)
Requirement already satisfied: importlib-metadata>=4.4 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from markdown>=2.6.8->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (7.0.1)
Requirement already satisfied: mdurl~=0.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from markdown-it-py>=2.2.0->rich>=11.0.0->pytorch_tabular) (0.1.2)
Requirement already satisfied: six in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from patsy>=0.5.1->category-encoders<2.7.0,>=2.6.0->pytorch_tabular) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from requests<3,>=2.21.0->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2023.11.17)
Requirement already satisfied: MarkupSafe>=2.1.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from werkzeug>=1.0.1->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (2.1.1)
Requirement already satisfied: attrs>=17.3.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (1.9.4)
Requirement already satisfied: frozenlist>=1.1.1 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (1.4.1)
Requirement already satisfied: aiosignal>=1.1.2 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (1.3.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->fsspec[http]>2021.06.0->pytorch-lightning<2.0.0,>=1.8.0->pytorch_tabular) (4.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.7.0)
Requirement already satisfied: wcwidth in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.2.12)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard!=2.5.0,>2.2.0->pytorch_tabular) (3.2.2)
Requirement already satisfied: executing>=1.2.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets->pytorch_tabular) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets->pytorch_tabular) (2.4.1)
Requirement already satisfied: pure-eval in /Users/nimisha/miniconda3/envs/myenv/lib/python3.8/site-packages (from stack-data->ipython>=6.1.0->ipywidgets->pytorch_tabular) (0.2.2)

In [ ]:
df[